.btn{
    padding: 10px;
    margin: 10px;
    border-radius: 6px;
    border: 0px;
}

.login{
    background-color: green;
    color: white;
}

.logout{
    background-color: red;
    color: white;
}